@import "../../../style/globals.scss";


#header-wrapper.mobile{
    display: block;
}

section#header-wrapper{
    background-color: $main-color;
    display: flex;
    width: 100%;
    
    section#header-logo{
        // background-color: lightgreen;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $section-padding;

        #texts-wrapper{
            h1,
            h1.desktop{
                font-size: 2rem;
                text-align: center;
            }
    
            h1.mobile{ 
                font-size: 2rem;
                text-align: center;
            }

            h4.mobile{
                text-align: center;
            }
        }

        #icon-wrapper.mobile{
            display: none;
        }
    }

    #header-nav{
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        align-items: flex-end;
    }

    #header-nav.mobile{
        margin-bottom: .25rem;
    }
}

#header-logo.mobile{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a.active{
    color: $accent-color;
}

