@import "../../../style/globals.scss";


#header-wrapper.mobile{
    flex-direction: column;
}

#header-wrapper{
    background-color: $main-color;
    height: 20%;
    display: flex;
    width: 100%;
    
    section{
        // background-color: lightgreen;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: $section-padding;

        h1,
        h1.desktop{
            font-size: 2rem;
            text-align: center;
        }

        h1.mobile{ 
            font-size: 2rem;
            text-align: center;
        }

    }

    nav{
        //background-color: lightblue;
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        align-items: flex-end;
    }

    nav.mobile{
        justify-content: center;
        align-items: center;
    }
}

#header-logo.mobile{
    padding: none;
}

a.active{
    color: $accent-color;
}

