@import "../../../style/globals.scss";

#graflogo-wrapper{
    // background-color: lightpink;
    display: flex;

    span#graf{
        // background-color: lightgreen;
        position: absolute;
        // bottom: 3rem;
        left: .25rem;
        display: inline-block;
        transform: rotate(-8deg);
        font-family: $graf-font;
        color: black;
        font-size: 1.75rem;
        // backdrop-filter: blur(.25px);
        background-color: rgba(171,255,78,.65);
        border-radius: 5px;
        box-shadow: 2px 2px 12px rgba(0,0,0,.25);
        letter-spacing: .25rem;
    }
}