
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

$main-color: #1A7B88;
$secondary-color: #2B2D42;
$accent-color: #ABFF4F;
$main-accent-ombre:  linear-gradient(180deg, #007B8C 16.84%, #D6FBAE 90.36%); 

$sign-spacing: 0.1em; 

$section-padding: 1em;

$graf-font: "Permanent Marker", cursive;