
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

$main-color: #1A7B88;
$secondary-color: #2B2D42;
$accent-color: #ABFF4F;

$sign-spacing: 0.1em; 

$section-padding: 1em;

$graf-font: "Permanent Marker", cursive;