@import '../../../style/globals.scss';

#linktab-wrapper{
    background-color: $secondary-color;
    border: solid thin white;
    border-radius: 5px;
    flex-grow: 1;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(25%, 35%, 100%);
    span{
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: $sign-spacing;
    }
}

#linktab-wrapper:last-child{
    margin-right: 1rem;
}

#linktab-wrapper.mobile{
    background-color: inherit;
    box-shadow: none;
    border: solid thin white;
    border-radius: 5px;
    padding: 0;

    span{
        font-weight: 400;
    }
}




