@import "./style/globals.scss";

header.layout{

    background-color: $main-color;
    display: flex;
    height: 25%;

    aside.logo{

        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 25%;

        section{
            
            margin-left: 1.5rem;

            h1{
                font-size: 2rem;
            }

            h2{
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }
    
    nav{
        margin-left: 5rem;
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        justify-content: flex-end;

        .links{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .nav-item{
                width: 25%;
                height: 30%;
                background-color: $secondary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: .5rem;
                margin-bottom: 0;
                border-radius: 1rem 1rem 0 0;
                font-size: 1.5rem;
                font-weight: 700;
                letter-spacing: $sign-spacing;
            }
        }

        
    }
}

main{
    background-color: lightgreen;
    height: 75%;
}